<%- include("layout/header");-%>
    <h1>Compose</h1>
    <form>
        <input type="text" name="">
        <button type="submit" name="button">Publish</button>
    </form>
    <%- include("layout/footer");-%>